pipeline/Copy_sqltable_to_sqltable.json
{
	"name": "Copy_sqltable_to_sqltable",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set timewatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(convertToUtc(variables('timewatermark1'), 'Pacific Standard Time')))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail2",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "cxvvfdv",
								"errorCode": "503305"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Age",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "Age",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Email",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Email",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RegistrationDate",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "RegistrationDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_franksqldb1_TableSource",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_franksqldb1_TableTarget",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select WatermarkValue\nfrom watermarktable;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set timewatermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "timewatermark1",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.WatermarkValue",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"timewatermark": {
				"type": "Integer"
			},
			"timewatermark1": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-06T05:52:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}